@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {

    font-size: smaller;
  }

  body {
/*    color: var(--foreground);*/
/*    background: var(--background);*/
    
    font-family: "Exo 2", "Arial", "Helvetica", "Sans-Serif";
  }
}

@layer components {
  .sentence {
    @apply inline-block first-letter:capitalize;
  }
}